<h3>{{titulo}}</h3>
<hr/>

<div class="col-lg-9">
	<div *ngIf="!restaurantes">
			No hay restaurantes para mostrar
	</div>
	 
	<div *ngIf="restaurantes">		
		<div class="row">
					<!-- listado de restaurantes -->

				<div class="col-lg-4" *ngFor="let restaurante of restaurantes | paginate: {itemsPerPage: 6, currentPage: p1}">
					<div class="thumbnail">
						<div *ngIf="restaurante.imagen" class="imagen_container">
							<img src="http://localhost/tfg-lpv/tfg-backend/uploads/{{restaurante.imagen}}" class="restaurante_imagen"/>
						</div>
						<div *ngIf="!restaurante.imagen" class="imagen_container"> <!--class="imagen_relleno">-->
							<img class="restaurante_imagen" src="https://image.flaticon.com/icons/png/512/45/45586.png">
						</div>
							<div class="caption">
								<h3> {{restaurante.nombre}} </h3>

							<div class="botones" *ngIf="confirmado != restaurante.id ">
								<div *ngIf="hayUsuario">
									<p> <a [routerLink]="['/restaurantes', restaurante.id]" class="btn btn-primary">Ver más</a>
										<a [routerLink]="['/editar-restaurantes', restaurante.id]" class="btn btn-warning">Editar</a>
										<a (click)="borrarConfirm(restaurante.id)" class="btn btn-danger">Elimnar</a>
									</p>
								</div>
								<div *ngIf="!hayUsuario">
									<p> <a [routerLink]="['/restaurantes', restaurante.id]" class="btn btn-primary">Ver más</a>
								</div>
							</div>
								<div class="seguro" *ngIf="confirmado == restaurante.id">
										<a (click)="onDeleteRestaurante(restaurante.id)" class="btn btn-danger">Quiero eliminarlo</a>
										<a (click)="cancelarConfirm()" class="btn btn-warning">Cancelar</a>
									</div>
							</div>
					</div>
				</div>
			<pagination-controls (pageChange)=" p1 = $event "></pagination-controls>
		</div>

		<!--[href]="urlDownload" download="restaurantes.json" -->
		<a (click)="generateDownloadJson()" class="btn btn-primary"> Descargar json</a>
		<a (click)="generateDownloadCSV()" class="btn btn-primary"> Descargar csv</a>
	</div>
</div>

<div class="col-lg-3">
	
	<div class="col-lg-12">
		<div *ngFor="let opinion of opinionesRecientes">
			<h4> Últimos comentarios </h4>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h5 class="panel-title"> {{opinion.fecha}}</h5>
				</div>
				<div class="panel-body">
					<p> {{opinion.mensaje}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
