<div class="col-md-12">
	<div *ngIf="restaurante">
		<div class="row">
			<div class="col-md-3" *ngIf="restaurante.imagen">
				<img alt="Imagen Principal del Restaurante" src="{{restaurante.imagen}}" class="img-rounded imagen-detalle">
			</div>
			<div class="col-lg-3" *ngIf="!restaurante.imagen">
			<img src="https://lh3.googleusercontent.com/O3q2V2Svag9asAi2r7PvI01Jh5dpR76gaNex7ejgoCqjkKLmE_LBWGYjUQf6PQeAkik=w300" class="img-rounded imagen-detalle" style="margin-left:50px"/>
			</div>
			<div class="col-md-9">
				<div class="col-md-7 thumbnail">
					<h3 class="text-primary text-center">
						{{restaurante.nombre}}
					</h3>
					<div class="col-md-7">
					<p *ngIf="restaurante.direccion" class="text-primary"> <img src="/assets/imagen/address.png" class="img-rest-propietario" title="Dirección"/> {{restaurante.direccion}}</p>
					<p *ngIf="avg" class="text-primary text-success"> <img src="/assets/imagen/star.png" class="img-rest-propietario" title="Valoración" /> {{avg}}/5 </p>
					<p *ngIf="restaurante.url" class="text-primary text-info"> <img src="/assets/imagen/website.png" class="img-rest-propietario" title="Website" /><a href="{{restaurante.url}}" target="_blank"> {{restaurante.url}}</a></p>

					<div *ngIf="!propietario">
						<div *ngIf="(!solicitado) && (!hayPeticion) && (hayUsuario)">
							<p> <a (click)="esSolicitado()"> ¿Eres propietario de este negocio? Solicítalo </a></p>
						</div>
						<div *ngIf="(!solicitado) && (!hayPeticion) && (!hayUsuario)">
							<p> <a [routerLink]="['/crear-usuarios']"> Si eres propietario de este negocio y deseas solicitarlo, es necesario que se resgistre. </a></p>
						</div>
						<div *ngIf="solicitado">
							<p><strong> A continuación se va a proceder a informar al administrador de la solicitud deseada: <i>el usuario {{usuario.nombre}} requiere los derechos de este establecimiento ({{restaurante.nombre}}). </i></strong></p>
							<p> ¿Está seguro? </p>
							<a (click)="solicitarPropiedad(restaurante.id)" class="btn btn-success">Aceptar</a>
							<a (click)="cancelarSolicitud()" class="btn btn-warning">Cancelar</a>
						</div>
						<div *ngIf="(!solicitado) && (hayPeticion)">
							<p class="text-muted"> Ha realizado una petición para ser propietario de este restaurante. Espere a que el Administrador se ponga en contacto con usted. Muchas gracias :) </p>
						</div>
					</div>
					<div class="pull-right" *ngIf="(hayUsuario && propietario && usuario.id == userPropi.id) || (admin)">
						<div *ngIf="!confirmado">
							<button [routerLink]="['/editar-restaurantes', restaurante.id]" class="btn btn-warning">Editar</button>

							<button (click)="seguroBorrar()" class="btn btn-danger">Eliminar</button>
						</div>
						<div *ngIf="confirmado">
							<button (click)="eliminarRestaurante()" class="btn btn-danger">Estoy Seguro</button>
							<button (click)="cancelarBorrar()" class="btn btn-warning">Cancelar</button>
						</div>
					</div>
					</div>

				
				
					<div class="col-md-5 thumbnail pull-right sombra" *ngIf="propietario">
						<h4 class="text-muted text-center"> Propietario </h4>
						<img class="pull-right img-rest-propietario" src="/assets/imagen/verificado.jpg" title="Propietario"/>
						<p class="text-center">{{userPropi.nombre}} {{userPropi.apellido1}} {{userPropi.apellido2}} </p>
						<p class="text-center">{{userPropi.email}}</p>
					</div>
				</div>
			<div class="col-md-5" *ngIf="lat && long">
				<agm-map 
					[latitude]="lat" 
					[longitude]="long" 
					[zoom]="zoom"
					[mapTypeId]="'terrain'"
					style="height: 250px">
		 			<agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
				</agm-map>
			</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 *ngIf="opiniones" class="text-center text-muted">
						<strong>Comentarios</strong>
				</h3>
				<!-- AQUÍ SE PODRÍA PONER UN FILTRO PARA LOS COMENTARIOS -->
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-info" *ngFor="let opinion of opiniones | paginate: {itemsPerPage: 2, currentPage: p}">
				    	<div class="panel-heading">
				      		<h4 class="without-margin-top-bot"> <img src="/assets/imagen/user.png" class="img-rest-propietario" title="Usuario" />  {{opinion.nombre}}</h4>
				      	</div>
				      	<div class="panel-body">
				      		<div class="col-md-9">
					      		<p class="text-primary"> <img src="/assets/imagen/date.png" class="img-icon" title="Fecha" />  {{opinion.fecha}}</p>
								<p class="text-primary text-success"> <img src="/assets/imagen/star.png" class="img-icon" title="Valoración" /> <strong>{{opinion.puntuacion}} </strong></p>
								<p class="text-muted text-justify"> {{opinion.mensaje}}</p>
								<!--<button type="button" class="btn btn-success btn-sm">
									Votar
								</button>-->
							</div>
							<div class="col-md-3">
								<img *ngIf="opinion.imagen" src="http://localhost/tfg-lpv/tfg-backend/uploads/images_comment/{{opinion.imagen}}" class="img-responsive img-comment">
							</div>
							
				      	</div>
					</div>
					<div class="col-md-16 col-md-offset-4">
						<pagination-controls class="center-block" *ngIf="opiniones" (pageChange)=" p = $event "></pagination-controls>
					</div>
				</div>
				<div *ngIf="hayUsuario">
					<div class="col-md-10 col-md-offset-1 thumbnail  margin-top-20">
						<h3 class="text-muted text-center"><strong> Deja tu opinión</strong> </h3>
						<form role="form" #formOpinionesRest="ngForm" (ngSubmit)="onSubmitOpinion()">
							<div class="form-group">
								<div class="col-md-4">
									<label for="Puntuacion">
										Puntuación
									</label>
									<select required class="form-control" name="puntuacion" id="puntuacion" #puntuacion="ngModel" [(ngModel)]="opinion.puntuacion">
								      	<option value="5">5. Muy bien</option>
								      	<option value="4">4. Bien</option>
								      	<option value="3">3. Regular</option>
								      	<option value="2">2. Mal</option>
								      	<option value="1">1. Muy mal</option>
								    </select>
									<label> Imagen </label>
									<input type="file" class="form-control" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
									<!--<div *ngIf="filesToUpload">
										<img id="imgSalida" width="50%" height="50%" src="" />
									</div>-->

								</div>
								<div class="col-md-8">
									<label> Opinión ( <span></span> caracteres)</label>
									<textarea placeholder="Introduzca aquí su opinión (max 250 caracteres)" #mensaje="ngModel" name="mensaje" [(ngModel)]="opinion.mensaje" maxlength="250" required></textarea>
									

								</div>
									<input type="submit" value="Opinar" class="btn btn-info pull-right only-little-margin" [disabled]="!formOpinionesRest.form.valid"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>