<div class="col-md-12">
	<h3 class="text-default text-center">{{titulo}}</h3>

	<div class="col-md-8">
		<form #formRestaurantes="ngForm" (ngSubmit)="onSubmit()" class="col-md-8 col-md-offset-2" id="form-restaurantes">

			<label> 
				Nombre 
				<span *ngIf="!nombre.valid && nombre.touched" class="label label-danger"> El nombre es obligatorio </span>
			</label>
			
			<input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="restaurante.nombre" required />


			<label> Dirección </label>
			<input type="text" class="form-control" #direccion="ngModel" name="direccion" [(ngModel)]="restaurante.direccion"/>

			<label> 
				Latitud 
				<span *ngIf="!latitud.valid && latitud.touched" class="label label-danger"> La latitud no es correcta </span>
			</label>
			<input type="text" class="form-control" #latitud="ngModel" name="latitud" [(ngModel)]="restaurante.latitud" required pattern="(-[0-9+].[0-9]+)|([0-9+].[0-9]+)" />

			<label> 
				Longitud 
				<span *ngIf="!longitud.valid && longitud.touched" class="label label-danger"> La longitud no es correcta </span>
			</label>
			<input type="text" class="form-control" #longitud="ngModel" name="longitud" [(ngModel)]="restaurante.longitud" required pattern="(-[0-9+].[0-9]+)|([0-9+].[0-9]+)" />

			<label> Url </label>
			<input type="text" class="form-control" #url="ngModel" name="url" [(ngModel)]="restaurante.url"/>

			<label> Imagen </label>
			<input type="text" class="form-control" (change)="fileChangeEvent($event)" #imagen="ngModel" name="imagen" [(ngModel)]="restaurante.imagen"/>

			<br>
			<input type="submit" value ="{{titulo}}" class="btn btn-success" [disabled]="!formRestaurantes.form.valid" />
		</form>
	</div>
	<div class="col-md-4">
		<div *ngIf="is_edit"> 
				<img src="{{restaurante.imagen}}" width="200" />
			</div>
	</div>
</div>