<div class="col-md-12">
	<div class="row">
		<div *ngIf="usuario">
			<!-- COLUMNA IZQUIERDA -->
			<div class="col-md-3">
				<div class="col-md-12 only-little-margin" align="center">
					<img alt="Imagen de perfil" class="max-image border-grey img-circle" src="/assets/imagen/perfil.png">
				</div>
				<div class="col-md-12 row-margin">
					<p class="text-center font-weight-bold"> {{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}} </p>
					<p class="text-center font-italic">{{usuario.alias}}</p>
				</div>
				<div class="row">
					<div class="col-md-12 only-little-margin"> 
						<button [routerLink]="['/usuario']" type="button" class="btn btn-success btn-block">Ver Perfil</button>
						<button [routerLink]="['/ver-perfil']" type="button" class="btn btn-primary btn-block">Mis Datos</button>
						<button *ngIf="admin" [routerLink]="['/tareas-pendientes']" type="button" class="btn btn-warning btn-block">Tareas Pendientes</button>
					</div>
				</div>
			</div>
			<!-- COLUMNA DERECHA -->
			<div class="col-md-9">
					<div class="only-little-margin">
						<h3 class="text-center text-success">
							Tareas Pendientes
						</h3>
						<div class="only-little-margin" *ngIf="peticiones">
							<h4 class="text-warning"> Usuarios que solicitan propiedades </h4>
							<div class="col-md-12 panel panel-default padding-top"*ngFor="let pet of peticiones">
								<div class="col-md-1 ">
									<p class="text-center text-danger"> Petición <br>{{pet.id}}</p>
								</div>
								<div class="col-md-8">
									<p class="text-info text-justify"> El usuario con alias <strong>{{pet.alias}}</strong> y correo electrónico <strong>{{pet.email}}</strong> solicita la propiedad <strong><i>{{pet.nombre}}</i></strong> para hacerse cargo de su edición y borrado en caso necesario.</p>
								</div>
								<div class="col-md-3">
									<button (click)="validar(pet.id)" class="btn btn-success">Validar</button>
									<button (click)="denegar(pet.id)"class="btn btn-danger">Denegar</button>
								</div>
							</div>
						</div>

						<div class="only-little-margin" *ngIf="restaurantes">
							<h4 class="text-warning"> Restauranes pendientes de validación </h4>
							<div class="col-md-12 panel panel-default padding-top"*ngFor="let rest of restaurantes">
								<div class="col-md-2 ">
									<p class="text-center text-danger"> Restaurante {{rest.id}}</p>
								</div>
								<div class="col-md-7">
									<p class="text-info text-justify"> El restaurante con nombre <strong>{{rest.nombre}}</strong> está pendiente de validación. Para obtener más información pulse <a [routerLink]="['/restaurantes', rest.id]"> <strong><i>aquí.</i></strong></a></p>
								</div>
								<div class="col-md-3">
									<button (click)="validarRest(rest.id)" class="btn btn-success">Validar</button>
									<button (click)="denegarRest(rest.id)"class="btn btn-danger">Denegar</button>
								</div>
							</div>
						</div>
					<div class="only-little-margin" *ngIf="!peticiones && !restaurantes">
						<h4 class="text-success text-center"> Enhorabuena!! No tiene ninguna tarea ;) </h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>