<div class="col-md-12">
	<div class="row">
		<div *ngIf="usuario">
			<!-- COLUMNA IZQUIERDA -->
			<div class="col-md-3">
				<div class="col-md-12 only-little-margin" align="center">
					<img alt="Imagen de perfil" class="max-image border-grey img-circle" src="https://image.flaticon.com/icons/png/512/10/10952.png">
				</div>
				<div class="col-md-12 row-margin">
					<p class="text-center font-weight-bold"> {{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}} </p>
					<p class="text-center font-italic">{{usuario.alias}}</p>
				</div>
				<div class="row">
					<div class="col-md-12 only-little-margin"> 
						<button [routerLink]="['/usuario']" type="button" class="btn btn-success btn-block">Ver Perfil</button>
						<button [routerLink]="['/ver-perfil']" type="button" class="btn btn-primary btn-block">Mis Datos</button>
						<button *ngIf="admin" [routerLink]="['/tareas-pendientes']" type="button" class="btn btn-warning btn-block">Tareas Pendientes</button>
					</div>
				</div>
			</div>
			<!-- COLUMNA DERECHA -->
			<div class="col-md-9">
					<div class="only-little-margin">
						<h3 class="text-center text-success">
							Mi perfil
						</h3> 
						<div class="col-md-12 panel panel-default" *ngIf="hayRestaurantes">
							<h4 class="panel-heading"> Restaurantes propios </h4>
							 <div class="panel-body cuadrado-azul sombra" *ngFor="let rest of restaurantes | paginate: {itemsPerPage: 2, currentPage: p1, id: 'first'}">
							 	<div class="col-md-3">
							 		<img *ngIf="rest.imagen" class="img-rounded imagen-rest-usuario img-responsive center-block" src="{{rest.imagen}}"/>
							 		<img *ngIf="!rest.imagen" class="img-rounded imagen-listado img-responsive center-block" src="https://image.flaticon.com/icons/png/512/45/45586.png"/>
							 		
							 	</div>
							 	<div class="col-md-6">
								 	<p *ngIf="rest.direccion" class="text-primary"> <img src="/assets/imagen/address.png" class="img-rest-propietario" title="Dirección"/> {{rest.direccion}}</p>
									<p *ngIf="rest.media" class="text-primary text-success"> <img src="/assets/imagen/star.png" class="img-rest-propietario" title="Valoración" /> {{rest.media}} </p>
									<p *ngIf="rest.url" class="text-primary text-info"> <img src="/assets/imagen/website.png" class="img-rest-propietario" title="Website" /><a href="{{rest.url}}" target="_blank">{{rest.url}}</a></p>
							 	</div>
							 	<div class="col-md-2">
							 		<div class="botones" *ngIf="confirmado != rest.id ">
										<a [routerLink]="['/editar-restaurantes', rest.id]" class="btn btn-warning btn-block">Editar</a>
										<a (click)="borrarConfirm(rest.id)" class="btn btn-danger btn-block">Eliminar</a>
									</div>
									<div class="seguro" *ngIf="confirmado == rest.id">
										<a (click)="onDeleteRestaurante(rest.id, rest.nombre)" class="btn btn-danger btn-block">Aceptar</a>
										<a (click)="cancelarConfirm()" class="btn btn-warning btn-block">Cancelar</a>
									</div>
							 	</div>
							 </div>
							 <div class="col-md-6 col-md-offset-4 margin-top-20">
							 	<pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
							 </div>
						</div>
						<div class=" col-md-12 panel panel-default" *ngIf="opiniones">
							 <h4 class="panel-heading"> Comentarios dejados </h4>
							 <div class="col-md-5 panel-body well opinion-detail" *ngFor="let op of opiniones | paginate: {itemsPerPage: 2, currentPage: p2, id: 'second'}">
							 	<div *ngIf="!op.imagen">
								 	<div class="col-md-12">
									 	<p class="text-muted">{{op.fecha}} </p>
									 	<p class="text-justify">{{op.nombre}} - <strong>{{op.mensaje}}</strong></p>
								 	</div>
								 </div>
								<div *ngIf="op.imagen">
									<div class="col-md-8">
									 	<p class="text-muted">{{op.fecha}}</p> 
									 	<p class="text-justify"><a [routerLink]="['/restaurantes', op.id_restaurante]">{{op.nombre}}</a> - <strong>{{op.mensaje}}</strong></p>
								 	</div>
								 	<div class="col-md-4">
								 		<img *ngIf="op.imagen" class="img-responsive center-block sombra" src="http://localhost/tfg-lpv/tfg-backend/uploads/images_comment/{{op.imagen}}" width="100px"/>
								 	</div>
							 	</div>
							 	<div class="col-md-12 padding-top" *ngIf="confirmadoOp != op.id ">
								 	<p> <a class="btn btn-sm btn-warning" (click)="editOpinion(op.id)">Editar
    									</a> 
    									<a class="btn btn-sm btn-danger" (click)="borrarConfirmOp(op.id)">Eliminar
    									</a>
								    </p>
							 	</div>
							 	<div class="col-md-12 padding-top" *ngIf="confirmadoOp == op.id ">
								 	<p> <a class="btn btn-sm btn-warning" (click)="onDeleteOpinion(op.id)">Aceptar
    									</a> 
    									<a class="btn btn-sm btn-danger" (click)="cancelarConfirmOp()">Cancelar
    									</a>
								    </p>
							 	</div>
							 </div>
							 <div class="col-md-6 col-md-offset-4 margin-top-20">
								<pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>
							</div>
						</div>
						<div class="panel panel-default" *ngIf="!opiniones">
							<div class="row only-little-margin">
								<div class="col-md-8">
								<h4 class="text-right text-warning"> Aún no has dejado ninguna opinión, empieza ahora!! :) </h4></div>
								<div class="col-md-3"><p><a [routerLink]="['/restaurantes']" class="btn btn-primary"> Restaurantes </a></p></div>
							</div>
						</div>

						<!-- FORMULARIO EDICIÓN COMENTARIO -->
					<div *ngIf="editOp"> <!-- ngif si has pulsado editar -->
						<div class="col-md-12 thumbnail">
							<h3 class="text-primary text-center"> Editar Comentario </h3>
							<form role="form" #formEditarOpinion="ngForm" (ngSubmit)="onUpdateOpinion(editOp.id)">
								<div class="form-group">
									<div class="col-md-4">
										<label for="Puntuacion">
											Puntuación
										</label>
										<select class="form-control" name="puntuacion" id="puntuacion" #editOp.puntuacion="ngModel" [(ngModel)]="editOp.puntuacion">
									      <option value="5">5. Muy bien</option>
									      <option value="4">4. Bien</option>
									      <option value="3">3. Regular</option>
									      <option value="2">2. Mal</option>
									      <option value="1">1. Muy mal</option>
									    </select>
										<label> Imagen </label>
										<input type="file" class="form-control" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
										<p><a *ngIf="(editOp.imagen) && (!eliminada)" class="text-warning" (click)="eliminarImagen()" style="cursor:pointer;">Eliminar imagen</a></p>
										<p *ngIf="eliminada">Imagen Eliminada</p>
									</div>
									<div class="col-md-8">
										<label> Opinión ( <span></span> caracteres)</label>
										<textarea placeholder="Introduzca aquí su opinión (max 250 caracteres)"#editOp.mensaje="ngModel" name="mensaje" [(ngModel)]="editOp.mensaje" maxlength="250"></textarea>

									</div>
										<input type="submit" value="Editar" class="btn btn-info pull-right only-little-margin" [disabled]="!formEditarOpinion.form.valid"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>