<div class="col-md-12">
	<div class="row">
		<div *ngIf="usuario">
			<!-- COLUMNA IZQUIERDA -->
			<div class="col-md-3">
				<div class="col-md-12 only-little-margin" align="center">
					<img alt="Imagen de perfil" class="max-image border-grey img-circle" src="https://image.flaticon.com/icons/png/512/10/10952.png">
				</div>
				<div class="col-md-12 row-margin">
					<p class="text-center font-weight-bold"> {{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}} </p>
					<p class="text-center font-italic">{{usuario.alias}}</p>
				</div>
				<div class="row">
					<div class="col-md-12 only-little-margin"> 
						<button [routerLink]="['/usuario']" type="button" class="btn btn-success btn-block">Ver Perfil</button>
						<button [routerLink]="['/ver-perfil']" type="button" class="btn btn-primary btn-block">Mis Datos</button>
						<button *ngIf="admin" [routerLink]="['/tareas-pendientes']" type="button" class="btn btn-warning btn-block">Tareas Pendientes</button>
					</div>
				</div>
			</div>
			<!-- COLUMNA DERECHA -->
			<div class="col-md-9">
					<div class="only-little-margin">
						<h3 class="text-center text-success">
							Mi perfil
						</h3>
						<div class="col-md-12 panel panel-default" *ngIf="hayRestaurantes">
							<h4 class="panel-heading"> Restaurantes propios </h4>
							 <div class="panel-body cuadrado-azul" *ngFor="let rest of restaurantes | paginate: {itemsPerPage: 1, currentPage: p1, id: 'first'}">
							 	<div class="col-md-3">
							 		<img class="img-rounded imagen-rest-usuario" src="{{rest.imagen}}">
							 	</div>
							 	<div class="col-md-7">
								 	<p class="text-default"> {{rest.nombre}} </p>
								 	<p class="text-default"> {{rest.direccion}} </p>
								 	<p class="text-muted"> Poner las estrellitas (la media de las opiniones)</p>
							 	</div>
							 	<div class="col-md-2">
							 		<div class="botones" *ngIf="confirmado != rest.id ">
										<a [routerLink]="['/editar-restaurantes', rest.id]" class="btn btn-warning btn-block">Editar</a>
										<a (click)="borrarConfirm(rest.id)" class="btn btn-danger btn-block">Elimnar</a>
									</div>
									<div class="seguro" *ngIf="confirmado == rest.id">
										<a (click)="onDeleteRestaurante(rest.id, rest.nombre)" class="btn btn-danger btn-block">Aceptar</a>
										<a (click)="cancelarConfirm()" class="btn btn-warning btn-block">Cancelar</a>
									</div>
							 	</div>
							 </div>
							 <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
						</div>
						<div class=" col-md-12 panel panel-default" *ngIf="opiniones">
							 <h4 class="panel-heading"> Comentarios dejados </h4>
							 <div class="panel-body cuadrado-azul" *ngFor="let op of opiniones | paginate: {itemsPerPage: 2, currentPage: p2, id: 'second'}">
							 	{{op.fecha}} 
							 	<br>
							 	{{op.nombre}} - <strong>{{op.mensaje}}</strong>
							 </div>
							<pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>
						</div>
						<div class="panel panel-default" *ngIf="!opiniones">
							<div class="row only-little-margin">
								<div class="col-md-8">
								<h4 class="text-right text-warning"> Aún no has dejado ninguna opinión, empieza ahora!! :) </h4></div>
								<div class="col-md-3"><p><a [routerLink]="['/restaurantes']" class="btn btn-primary"> Restaurantes </a></p></div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>