
<div id="content">  
  <header id="header">
    <h1>
      Welcome to {{title}}!
    </h1>
  </header>
  <navegacion></navegacion>
</div>
<div id="content">
  <div class="row">
    <section id="main"> 
      <!--  Componente actual -->
      <!--para cargar el componente según la ruta que estamos diciendo en la url -->
     <router-outlet></router-outlet>
    </section>
  </div>
</div>
<div id="content">
  <div class="col-md-12">
  <footer id="footer">
    <p class="pull-left"> Trabajo Fin de Grado - Lorena Pérez Verdasco </p>
    <p class="pull-right"> Escuela Politécnica de Cáceres (UEx) </p>
  </footer>
  </div>
</div>


