
<div id="content">  
  <header id="header">
    <div class="col-md-12">
        </div>
  </header>
  <navegacion></navegacion>
</div>
<div id="content">
  <div class="row">
    <section id="main"> 
      <!--  Componente actual -->
      <!--para cargar los componentes según la ruta de la url -->
     <router-outlet></router-outlet>
    </section>
  </div>
</div>
<div id="content">
  <div class="col-md-12">
  <footer id="footer">
    <div class="col-md-4">
      <p> Trabajo Fin de Grado - Lorena Pérez Verdasco </p>
    </div>
    <div class="col-md-4">
      <p class="text-center"> Open Travel </p>
    </div>
    <div class="col-md-4">
      <p class="pull-right"> Escuela Politécnica de Cáceres (UEx) </p>
    </div>
    
    
  </footer>
  </div>
</div>


