* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
#content{
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	max-width: 1300px;
	margin: auto;
}

#header {
	background: #0080FF;
	color: white;
	margin: 0px;
	height: 150px;
	line-height: 80px;
	background-image: url("imagen/imagen_cabecera_inicial.jpeg");
}

#header h1 {
	display: block;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
}

#nav {
	margin: 1% 0;
	padding: 0px;
	-webkit-transition: all ease .3s;
	-o-transition:all ease .3s;
	transition: all ease .3s;
	display: block;
	height: 40px;
    overflow: hidden;
    background: #444;
    background: rgba(0,0,0,0.2);
    /*background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1, rgba(0,0,0,0.2));*/
}

#nav ul {
    float: left;
    list-style: none;
    border-radius: .5em;    
}

#nav ul li {
	float: left;
	margin-right: 5px;
}

#nav ul li a {
	float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
}

#nav ul li a:hover {
	outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}

#nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

#nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}

#subnav {
	-webkit-transition: all ease .3s;
	-o-transition:all ease .3s;
	transition: all ease .3s;
	display: block;
    overflow: hidden;
    background: #5ba3b9;
    background: linear-gradient(#f5f5f5, #5ba3b9);
}

#subnav ul {
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}

#subnav ul li {
	float: left;
}

#subnav ul li a {
	float:left;
    padding: .4em 0.8em;
    text-decoration: none;
    color: #39536c;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: 1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 0.5px;
    border-width: 1px;
}

#subnav ul li a:hover {
	text-decoration: none;
	color: white;
}

.activado {
	/*text-decoration: none !important;
	/*background: #0080FF !important;*/
	/*color: white !important;*/
	/*border-bottom: 3px solid #FFBF00;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;*/
	color: #555;
	background-color: white !important;
	margin:-1px;
	border: 1px solid #ddd;


}

.activadosub {
	color: white !important;

}

.menu-fixed {
	position: fixed;
	z-index: 1000; /*capa numero 1000*/
	top: 0; /* pegado a la parte superior */
	width: 100%;
	max-width: 1300px;
	box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.5);
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}

#footer {
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	color: gray;
}

#form-restaurantes label {
	margin-top: 10px;
}

.imagen_container {
	width: 100%;
	overflow: hidden;
}

/*BORRAR??*/
.restaurante_imagen {
	height: 200px;
	margin: 0 auto;
	display: block;
}

.imagen_relleno {
	background: #ccc;
	width: 100%;
	height: 200px;
}

.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

textarea{
    height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.max-image {
	max-width: 200px;
	max-height: 300px;
}

.row-margin {
	/*margin: 10px;*/
    padding: -10px;
}
.border-grey {
	border-width: 1px 1px 1px 1px; 
	border-style: solid; 
	border-color: lightgrey;
}

.imagen-listado {
	/*height: 80px;
    width: 90px;
    margin: 0 auto;
    display: block;*/
    max-height: 90px;
    max-width: 100%;
  	overflow: hidden;
  	margin: 0 auto;
  	padding: 0;
  	/*position: relative;*/
}

.imagen-detalle {
	max-height: 180px;
    max-width: 280px;
    margin-left: 20px;
    /* margin: 0 auto; */
    margin-top: 20px;
    display: block;
}

.imagen-rest-usuario {
	max-height: 90px;
    max-width: 200px;
}

.only-little-margin {
	margin: 15px;
}

.cuadrado-azul {
	border-width: 1px 1px 1px 1px; 
	border-style: solid; 
	border-color: #3399f3;
	margin:5px;
	padding: 5px;
	border-radius: 0.25rem !important;
}

#list-panel {
	height: 175px;
	border-width: 1px 1px 1px 1px; 
	border-style: solid; 
	border-color: #3399f38a;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 0.25rem !important;
	box-shadow: 1px 1px #808080b3;
	/*-webkit-box-shadow: 5px 10px 30px -5px rgba(0,0,0,0.39);
	-moz-box-shadow: 5px 10px 30px -5px rgba(0,0,0,0.39);
	box-shadow: 5px 10px 30px -5px rgba(0,0,0,0.39);*/
}

#panel-buscador {
	background: aliceblue;
    width: 910px;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
}

.bold {
	font-weight: bold;
}

.padding-top {
	padding-top: 10px;
}

.img-rest-propietario {
	width: 30px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.opinion-detail {
	margin-left: 5%;
   	margin-bottom: 1%;
    /*height: 100px;*/
}

.img-icon {
	width: 20px;
}

.ngx-pagination .current {
	box-shadow: 1px 1px #808080b3;
    border-radius: 1px;
    background: #f15914 !important;
}

.sombra {
	box-shadow: 1px 1px #808080b3;
}

.panel-home-map {
	padding: 20px;
    margin-top: 10px;
    border-right: 1px solid #a3ccff;
}
.panel-home-comment {
	padding: 20px;
    margin-top: 10px;
}

.panel-carousel {
	background-color: #2f6ab38c;
    padding: 10px !important;
    height: 400px;
}

.img-carousel {
	width: 360px;
	height: 200px;
	display: block;
}

.link {
  font: oblique 100% cursive;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.title-rest-comment {
	font-style: oblique;
	color: #f3a20d;
  	text-shadow: 0.1em 0.1em 0.2em black;
}

#linkComment:hover {
	font-weight: bold;
    color: #f3a314;
    text-decoration: none;
}

.msg-error {
	margin-top: 15px;
	padding: 5px;
	border: 2px solid #a54a4abf;
}

.img-comment {
	max-width: 170px;
    max-height: 150px;
}

.without-margin-top-bot {
	margin-top: 0;
	margin-bottom: 0
}

.link-descarga {
	cursor: pointer;
    color: #0f655ac4 !important;
    font-style: italic;
    font-weight: bold;
}

.info-page {
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    /*margin-left: 10px;*/
}
.info-page-image {
    width: 35%;
}

.text-tres {
   /* color: #6050b7;*/
    color: #6e87a6;
    font-weight: bold;
    font-style: italic;
}

/************* BEGIN TOAST ********+++*/
.toast-title {
    font-weight: bold;
}
.toast-message {
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #FFFFFF;
}
.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 99999;
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
}

#toast-container > div.toast-custom {
    padding: 15px;
    color: #030303;
}

#toast-container > div.toast-custom .toast-close-button {
    color: #999999 !important;
}

#toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #FFFFFF;
    pointer-events: auto;
}
.toast-success {
    background-color: #51A351;
}
.toast-error {
    background-color: #BD362F;
}
.toast-info {
    background-color: #2F96B4;
}
.toast-warning {
    background-color: #F89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}

/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}
/* FIN TOAST */







