<div class="col-md-10 col-md-offset-1">
	<div class="col-md-12 jumbotron">
		<h2 class="text-danger text-center"><strong> {{titulo}} </strong></h2>
		<p class="text-muted text-center">Perdonen las molestias, la página está en construcción </p>
			<div class="col-md-12 col-md-offset-2">
				<div class="col-md-12">
					<p>
					<img src="/assets/imagen/construccion.png" style="width: 250px" title="En construcción" />
					<a [routerLink]="['/home']" class="btn-lg btn-primary margin-top-20"> Home </a>
					<a [routerLink]="['/restaurantes']" class="btn-lg btn-success margin-top-20 margin-left-10"> Restaurantes </a>
					</p>
				</div>
			</div>
	</div>
</div>