<nav class="navbar navbar-default" role="navigation" id="#menu_gral">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li> <a [routerLink]="['/home']" style="padding: 0; margin: 0"> <img alt="Logo" src="/assets/imagen/logo_mm.png" style="width: 110px; margin-right: 10px"> </a></li>
			<li> <a [routerLink]="['/home']" [routerLinkActive]="['activado']"><strong> Home </strong> </a></li>
			<li> <a [routerLink]="['/restaurantes']" [routerLinkActive]="['activado']"><strong> Restaurantes </strong></a></li>
			<li> <a (click)="generateDownloadCSV()" class="link-descarga"> Descargar Datos (CSV) </a></li>
			<li> <a (click)="generateDownloadJson()" class="link-descarga"> Descargar Datos (JSON) </a></li>

			<li *ngIf="auth.authenticated() && !admin"> <a [routerLink]="['/crear-restaurantes']" [routerLinkActive]="['activado']"> <strong>Crear Restaurante</strong></a></li>

		</ul>
		<ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
			<li> <a [routerLink]="['/crear-usuarios']" [routerLinkActive]="['activado']" *ngIf="!auth.authenticated()" (ngModel)="autenticado"><strong> Registrarse </strong></a></li>

			<li> <a [routerLink]="['/login']" [routerLinkActive]="['activado']" *ngIf="!auth.authenticated()" (ngModel)="autenticado"><strong> Login </strong></a></li>

			<li> <a [routerLink]="['/usuario']" [routerLinkActive]="['activado']" *ngIf="auth.authenticated()"><strong> Perfil </strong> </a></li>

			<li> <a [routerLink]="['/home']" (click)="auth.logoutService()" *ngIf="auth.authenticated()" (ngModel)="auth"><strong> Logout </strong></a></li> 
		</ul>
	</div>

	<div *ngIf="auth.authenticatedAdmin()">
		<div id="content" *ngIf="auth.authenticatedAdmin()">
			<nav id="subnav" role="navigation">
    		<ul *ngIf="auth.authenticatedAdmin()">
	     		<li> <a [routerLink]="['/crear-restaurantes']" [routerLinkActive]="['activadosub']"> Crear Restaurante</a></li>
	      		<li> <a [routerLink]="['/importcsv-restaurantes']" [routerLinkActive]="['activadosub']"> Importar CSV </a></li>
	      		<li> <a [routerLink]="['/importjson-restaurantes']" [routerLinkActive]="['activadosub']"> Importar JSON </a></li>
    		</ul>
  			</nav>
		</div>
	</div>
</nav>

