<div class="col-md-12">
	<h2 class="text-primary text-center"><strong> {{titulo}}</strong> </h2>
		<p class="text-muted text-center">  Aplicación para compartir datos públicos de turismo nacional </p>
		<!--<p>
			<a [routerLink]="['/restaurantes']" class="btn-lg btn-primary"> Restaurantes </a>
		</p>-->
</div>
<div class="col-md-12">
	<div class="col-md-8 panel-home-map">
		<agm-map 
			[latitude]="lat" 
			[longitude]="lng" 
			[zoom]="zoom"
			[mapTypeId]="'terrain'"
			style="height: 300px"><!-- 'roadmap' | 'hybrid' | 'satellite' | 'terrain' -->
			<agm-marker *ngFor="let rest of restaurantes" [latitude]="convertStringToNumber(rest.latitud)" [longitude]="convertStringToNumber(rest.longitud)">
			<agm-info-window>
				<h5>{{rest.nombre}}</h5> 
				<h6> {{rest.direccion}}</h6>
				<h6> <a [routerLink]="['/restaurantes', rest.id]">Ver más</a></h6>
			</agm-info-window>
			</agm-marker>
		</agm-map>
	</div>
	<div class="col-md-4 panel-home-comment">
		<carousel>
			  <slide *ngFor="let op of mejoresOp">
			  	<div class="panel-carousel">
			    <img src="http://localhost/tfg-lpv/tfg-backend/uploads/images_comment/{{op.imagen}}" alt="{{op.mensaje}}" class="img-carousel img-responsive center-block">
			    	<div class = "carousel-caption d-none d-md-block"> 
		      			<h3 class="text-center text-primary"><strong> {{op.nombre}}</strong> </h3>
		      			<p> <img src="/assets/imagen/star.png" class="img-icon" title="Valoración" /> {{op.puntuacion}} - {{op.mensaje}} </p>
		      			<p class="text-center"><a id="linkComment" class="link" [routerLink]="['/restaurantes', op.id_restaurante]"> Ver Restaurante </a></p>
	    			</div>
	    			
	    		</div>
			  </slide>
		</carousel>
	</div>
	<div class="col-md-12">
	</div>
</div>