<div class="col-md-12">
	<div class="col-md-7">
		<h2 class="text-center text-primary"> ¡Bienvenido a la comunidad de Open Travel! </h2>
		<p class="text-center text-muted"> Si aún no es miembro, acceda al <a [routerLink]="['/crear-usuarios']"><i>panel del registro</i></a> </p>

		<div class="col-md-12 info-page">
				<div class="col-md-4 ">
					<img class="img-responsive center-block info-page-image" alt="Usuario Anónimo" src="/assets/imagen/icons/anonimo.png">
					<h5 class="text-success text-center"><strong> Usuario Anónimo </strong></h5>
					<p class="text-muted text-center"> Visualiza todos los establecimientos y puede descargar los datos. </p>
				</div>
				<div class="col-md-4">
					<img class="img-responsive center-block info-page-image" alt="Usuario registrado" src="/assets/imagen/icons/registrado.png">
					<h5 class="text-success text-center"><strong> Usuario Registrado </strong></h5>
					<p class="text-muted text-center"> Añade opiniones propias y puede solicitar propiedades. </p>
				</div>
				<div class="col-md-4">
					<img class="img-responsive center-block info-page-image" alt="Usuario propietario" src="/assets/imagen/icons/propietario.png">
					<h5 class="text-success text-center"><strong> Usuario propietario </strong></h5>
					<p class="text-muted text-center"> Posee los privilegios de edición y borrado de sus propiedades.</p>
				</div>
			</div>

		<!--<button class="btn btn-default" (click)="showSuccess()">Toastr Tester</button>-->
	</div>
	<div class="col-md-5">
		<h2 class="text-center text-primary">
			Acceso de usuario
					</h2>
		<form #formUsuarios="ngForm" (ngSubmit)="loginUsuario($event)">
			<div class="col-md-8 col-md-offset-2" id="form-restaurantes">
				<label for="email"> Email </label>
				<input type="text" class="form-control" autofocus required />
				<label for="password"> Contraseña </label>
				<input type="password" class="form-control" required/>
				<br>
				<input type="submit" value="Login" class="btn btn-success" [disabled]="!formUsuarios.form.valid"/>
			</div>
		</form>
	</div>
</div>